USE [Proyecto_Final_ProgramacionII_V2]
GO
/****** Object:  Table [dbo].[Diplomas_2021_2024]    Script Date: 17/8/2025 20:02:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Diplomas_2021_2024](
	[anio] [int] NULL,
	[sector_universitario] [varchar](50) NULL,
	[universidad] [varchar](200) NULL,
	[gam_sede] [varchar](10) NULL,
	[sede_conare] [varchar](200) NULL,
	[region_planificacion_sede] [varchar](100) NULL,
	[carrera] [varchar](200) NULL,
	[grado_academico] [varchar](100) NULL,
	[nivel_academico] [varchar](100) NULL,
	[area_conocimiento] [varchar](100) NULL,
	[subarea_conocimiento] [varchar](150) NULL,
	[sexo] [varchar](20) NULL,
	[edad] [int] NULL,
	[provincia_graduado] [varchar](100) NULL,
	[canton_graduado] [varchar](100) NULL,
	[zona_de] [varchar](50) NULL,
	[urbanizacion_graduado] [varchar](50) NULL,
	[zona_urbano_rural_graduado] [varchar](50) NULL,
	[region_planificacion_graduado] [varchar](100) NULL,
	[gam_estudiante] [varchar](10) NULL,
	[tipo_nacionalidad] [varchar](50) NULL,
	[continente] [varchar](50) NULL
) ON [PRIMARY]
GO
